@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0 auto;
    font-family: "Quicksand";
    color: #333;
}

a:visited{
    color: blue;
}

.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
}

.content{
    width: 100%;
    margin: 0 auto;
}