.home{
    display: flex;
}

.notLoggedIn{
    width: 100%;
    display: flex;
}

.cnt{
    margin: 0 auto;
}

.home .content{
    display: flex;
    margin: 0 auto;
}

.weatherDiv{
    display: block;
    margin-left: 100px;
    display: flex;
    align-items: center;
    text-align: center;
}

.contentDiv{
    display: block;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 360px) and (min-height: 550px) and (max-height: 640px){
    .content{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .weatherDiv{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        border-bottom: 1px solid #ccc1c1;
        width: 80%;
        height: 80%;
    }
}
