*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hru{
    text-align: center;
    margin-left: -300px;
}

.hru-container{
    display: flex;
    margin-left: -100px;
}

.faces{
    margin-top: 50px;
    flex-grow: 1;
}

#saveform{
    margin-left: 150px;
    width: 230px;
    height: 230px;
}

.hru button{
    border: 0;
    background:none;
    display: block;
    margin: 20px auto; 
    border: 1px solid #000000; 
    padding: 25px 25px;
    outline: none; 
    color: #000000; 
    border-radius: 24px; 
    transition: 0.25s; 
    cursor: pointer;
}

.hru button:hover{
    background: #8bce8e;
}