.loginPage{
    display: flex;
    margin: 0 auto;
}

.loginContainer h1{
    font-weight: 600;
}

.loginContainer .username input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.loginContainer .password input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.loginContainer input[type="text"], .loginContainer input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.loginContainer input[type="text"]:focus,.loginContainer input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.loginContainer button[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.noAccount button[type="register"]{
    text-decoration: none;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    background: white;
}

.noAccount button[type="register"]:hover{
    background: #2ecc71;
}

.loginContainer button[type="submit"]:hover{
    background: #2ecc71;
}

.loginContainer{
    border-right: 1px solid #ccc1c1;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.noAccount{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.logSubCon{
    margin: 0 auto;
}

.noaccSubCon{
    margin: 0 auto;
}

@media screen and (max-width: 550px), (max-height: 700px){
    .loginPage{
        display: flex;
        flex-direction: column;
    }

    h2{
        text-align: center;
    }

    .loginContainer{
        transform: scale(0.7);
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc1c1;
        margin: 0 auto;
        text-align: center;
        display: flex;
    }

    .logSubCon{
        margin-top: -50px;
        margin-bottom: 50px;
    }

    .noAccount{
        transform: scale(0.7);
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
