.genres{
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 5px;

}

.genres button{
    margin-bottom: -10px;
    padding: 5px;
    width: 100px;
    height: 50px;
}

.artist {
    margin-top: 40px;
}

.genres button:disabled, button[disabled]{
    background: #2ecc71;
}

.preferences input[type="text"], .preferences input[type="userArtist"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.preferences input[type="text"]:focus,.preferences input[type="password"]:focus{
    width: 280px;
    border-color: #3498db;
}


