.preferences{
    height: 550px;
}

.genres{
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 5px;
}

.genres button{
    margin: 0 auto;
    width: 100px;
    height: 50px;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    background: white;
    
}
.genres button:focus{
    outline: none;
}

.genres button:disabled, button[disabled]{
    background: #2ecc71;
    color: white;
}

@media screen and (min-width: 250px) and (max-width: 300px){
    .preferences{
        transform: scale(0.6);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .genres{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3px;
        width: 100%;
        margin: 0 auto;
        margin-right: 100px;
        text-align: center;
    }
}

@media screen and (min-width: 301px) and (max-width: 360px){
    .preferences{
        transform: scale(0.7);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
    }

    .genres{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3px;
        width: 100%;
        margin: 0 auto;
        margin-right: 100px;
        text-align: center;
    }
}

@media screen and (min-width: 361px) and (max-width: 500px){
    .preferences{
        transform: scale(0.8);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 200px;
    }

    .genres{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px){
    .preferences{
        transform: scale(0.9);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 250px;
    }
    .genres{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px){
    .preferences{
        transform: scale(0.9);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 250px;
    }

    .genres{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(7, 2fr);
        grid-gap: 3px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1300px){
    .preferences{
        transform: scale(1);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 300px;
    }

    .genres{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(8, 2fr);
        grid-gap: 3px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}




