.mainCon{
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
}

.registerContainer input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
}

.registerContainer input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
}

.registerContainer button[type="registerme"]{
    text-decoration: none;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    background: white;
}

.registerContainer button[type="registerme"]:hover{
    background: #2ecc71;
}


.registerContainer input[type="text"]:focus, .registerContainer input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}


.registerContainer{
    border-right: 1px solid #ccc1c1;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.gotTheAccount{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.accsubCon{
    margin: 0 auto;
}

.subCon{
    margin: 0 auto;
    
}

.gotTheAccount button[type="register"]{
    text-decoration: none;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    background: white;
}

.gotTheAccount button[type="register"]:hover{
    background: #2ecc71;
}

@media screen and (min-width: 250px) and (max-width: 300px){
    .mainCon{
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }

    h2{
        text-align: center;
    }

    .registerContainer{
        transform: scale(0.9);
        width: 80%;
        border: none;
        border-bottom: 1px solid #ccc1c1;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .gotTheAccount{
        transform: scale(0.9);
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 301px) and (max-width: 360px){
    .mainCon{
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }

    h2{
        text-align: center;
    }

    .registerContainer{
        transform: scale(0.9);
        width: 80%;
        border: none;
        border-bottom: 1px solid #ccc1c1;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .gotTheAccount{
        transform: scale(0.9);
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 361px) and (max-width: 500px){
    .mainCon{
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }

    h2{
        text-align: center;
    }

    .registerContainer{
        transform: scale(0.9);
        width: 80%;
        border: none;
        border-bottom: 1px solid #ccc1c1;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .gotTheAccount{
        transform: scale(0.9);
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px){
    .mainCon{
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }

    h2{
        text-align: center;
    }

    .registerContainer{
        transform: scale(0.9);
        width: 80%;
        border: none;
        border-bottom: 1px solid #ccc1c1;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .gotTheAccount{
        transform: scale(0.9);
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px){
    .mainCon{
        display: flex;
        flex-direction: column;
        margin: 0 0;
    }

    h2{
        text-align: center;
    }

    .registerContainer{
        transform: scale(0.9);
        width: 80%;
        border: none;
        border-bottom: 1px solid #ccc1c1;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .gotTheAccount{
        transform: scale(0.9);
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1300px){

}


