.recommended{
    width: 900%;
}

.recommended button{
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 10px 40px;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.recommended button:focus{
    outline: none;
}

.recommended button:hover{
    background: #2ecc71;
}

.songsDiv{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    grid-gap: 20px;
}

a{
    text-decoration: none;
    display: flex;
    margin: 0 auto;
}

a:visited{
    color: blue;
}

.trackContainer{
    display: flex;
    flex-direction: row;
    border: 3px solid rgb(117, 209, 117);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.songInfo:hover{
    background: rgb(117, 209, 117);
}

.albumCover{
    width: 140px;
}

.albumCover img{
    margin: 0;
    height: 100%;
    width:100%;
}

.songInfo{
    display: flex;
    flex-direction: column;
    opacity: 95%;
    background: white;
    align-items:center;
    justify-content:center;
    width: 250px;
    height: 100%;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
}

.trackName{
    margin-top: -10px;
}

@media screen and (min-width: 250px) and (max-width: 300px){
    .recommended{
        transform: scale(.5);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 600px;
    }

    .albumCover{
        width: 130px;
    }

    .songsDiv{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(1,  1fr);
        grid-gap: 25px;
        width: 100vw;
        text-align: center;
        margin: 0 auto;
        margin-left: -28px;
    }

    .trackContainer{
        width: 100%;
        margin: 0 auto;
        
    }

    .songsDiv a{
        margin: 0 auto;
        
    }

    .songInfo{
        width: 200px;
    }

    .recommended button{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 301px) and (max-width: 360px){
    .recommended{
        transform: scale(0.9);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1100px;
    }

    .albumCover{
        width: 130px;
    }

    .songsDiv{
        transform: scale(0.9);
        display: grid;
        grid-template-columns: repeat(1,  1fr);
        grid-gap: 25px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .songsDiv a{
        margin: 0 auto;
    }

    .songInfo{
        width: 200px;
    }

    .recommended button{
        margin-top: -50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 361px) and (max-width: 500px){
    .recommended{
        transform: scale(1);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1200px;
    }

    .songsDiv a{
        margin: 0 auto;
    }

    .songsDiv{
        transform: scale(0.9);
        display: grid;
        grid-template-columns: repeat(1,  1fr);
        grid-gap: 25px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 150px;
    }

    .songInfo{
        width: 200px;
    }

    .recommended button{
        margin-top: -50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px){
    .recommended{
        transform: scale(1);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1250px;
    }

    .songsDiv a{
        margin: 0 auto;
    }

    .songsDiv{
        transform: scale(0.9);
        display: grid;
        grid-template-columns: repeat(1,  1fr);
        grid-gap: 25px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 150px;
    }

    .songInfo{
        width: 200px;
    }

    .recommended button{
        margin-top: -50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px){
    .recommended{
        transform: scale(1);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 500px;
    }

    .songsDiv a{
        margin: 0 auto;
    }

    .songsDiv{
        transform: scale(0.9);
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        grid-gap: 25px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 150px;
    }

    .songInfo{
        width: 200px;
    }

    .recommended button{
        margin-top: -50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1300px){
    .recommended{
        transform: scale(1);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 600px;
    }

    .songsDiv a{
        margin: 0 auto;
    }

    .songsDiv{
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        grid-gap: 25px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 150px;
    }

    .songInfo{
        width: 200px;
    }

    .recommended button{
        margin-bottom: 50px;
    }
}