.recommended{
    margin-top: 150px;
    align-items: center;
}

.songsDiv{
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    grid-gap: 50px;
}

a{
    text-decoration: none;
    display: flex;
}

a:visited{
    color: blue;
}

.trackContainer{
    display: flex;
    flex-direction: row;
    border: 3px solid rgb(117, 209, 117);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.songInfo:hover{
    background: rgb(117, 209, 117);
}

.albumCover{
    width: 120px;
}

.albumCover img{
    margin: 0;
    height: 100%;
    width:100%;
}

.songInfo{
    display: flex;
    flex-direction: column;
    opacity: 95%;
    background: white;
    align-items:center;
    justify-content:center;
    width: 250px;
    height: 100%;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
}

.trackName{
    margin-top: -10px;
}
