.userInputs input[type="text"], .userInputs input[type="userArtist"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.userInputs input[type="text"]:focus,.userInputs input[type="password"]:focus{
    width: 280px;
    border-color: #3498db;
}


input[type="range"] {
    width: 50%;
    background-color: limegreen;
    appearance: auto;
    color: limegreen;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
}

.userInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userInputs button{
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    border-radius: 24px;
    cursor: pointer;
    background: white;
    margin: 0 auto;
}

.userInputs button:hover{
    background: #2ecc71;
}

.artistDiv h2{
    margin-bottom: 10px;
}

.sliderDiv{
    text-align: center;
}

.sliderDiv h2{
    margin-bottom: 10px;
}

@media screen and (min-width: 300px) and (max-width: 360px) and (min-height: 550px) and (max-height: 640px){
    .userInputs{
        margin-top: 25px;
        transform: scale(0.55);
    }
}



